#mainBody {
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

#testCard {
  text-align: center;
}

#generatorContainer {
  text-align: center;
  padding-top: 60px;
}

#generatorHeader {
  padding-bottom: 15px;
}

#testContainer {
  width: 60%;
}
