.jumbotronBody {
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.planGeneratorHeader {
  text-align: center;
  padding-top: 60px;
}

.generatorHeader {
  padding-bottom: 15px;
}

.formContainer {
  width: 60%;
}
