/* should be able to just add these to className attribute but lazy rn */

/* flat design colors
green: #00887A
light pink: #FFCCBC
white: hmmm i wonder lol 
very light blue: #D3E3FC
blue: #77a6f7 */

/* .navTest {
  
} */

.cardColor {
  color: #ffccbc;
}

.bigText {
  font-size: 7rem;
}

.jumbotronBody {
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.testClass {
  min-height: 55vh;
  background-color: #77a6f7;
  color: #ffccbc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.coolButton {
  background-color: white;
  color: #ffccbc;
  padding: 10px 20px;
  font-size: 1.3rem;
}

.planGeneratorHeader {
  text-align: center;
  padding-top: 60px;
}

.generatorHeader {
  padding-bottom: 15px;
}

.formContainer {
  width: 60%;
}

.borderClass {
  border: 1px solid black;
  border-radius: 25px;
}

.coolButton:hover,
.coolButton:focus {
  background-color: #f4f4f4;
  color: #ffccbc;
}

/* .bgTest {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
} */

/* .testColor {
  background-color: #2934c6;
} */
